.breadcrumbs {
    position: relative;

    &__list {
        display: flex;
    }

    &__item {

        @media (max-width: 1000px) {
            font-size: 3vw;
        }

        &:first-child > .breadcrumbs__link {
            text-transform: uppercase;
            font-weight: bold;
        }

        &:not(:last-child) {
            margin-right: .5vw;
        }

        &:not(:last-child)::after {
            content: '/';
        }
    }

    &__link {
        color: #000;
        text-decoration: none;
    }

    &__close {
        position: absolute;
        top: 0;
        right: 0;
        width: 3vw;
        z-index: 6;
        cursor: pointer;

        @media (max-width: 1000px) {
            width: 5vw;
        }
    }
}