.contacts {
    position: relative;
    display: flex;
    gap: 7vw;

    &__content {
        display: flex;
        justify-content: space-between;
        gap: 5vw;
        width: 100%;
        padding-top: 3vw;

        & a {
            color: #000;
            text-decoration: underline
        }
    }

    &__left{
        display: flex;
        flex-direction: column;
        min-width: 30vw;
        gap: 1.5vw;
    }

    &__title{
        margin-bottom: 1vw;
    }

    &__vk{
        margin-bottom: 2vw;
    }

    &__work-time{
        display: flex;
        flex-direction: column;
        gap: .5vw;
    }

    &__img{
        margin-right: 3vw;
        width: 27vw;
    }
}
