.header-wrapper {
    height: 100vh;
    color: #fff;
    background-image: url(./img/promo/promo-img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding: 40px 3%;
}