.page-footer {
    position: relative;
    margin: 0;
    padding: 0 3vw 3vw;
    flex-shrink: 0;

    &__logo {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 1vh;
    }

    &__logo-item {
        width: 13vw;

        @media (max-width: 1000px) {
            width: 20vw;
        }
    }

    &__text {
        text-transform: uppercase;

        @media (max-width: 1000px) {
            font-size: 2vw;
        }
    }

    &__nav {
        position: absolute;
        top: 1vh;
        right: 3vw;
        
        @media (max-width: 1000px) {
            display: none;
        }
    }

    &__nav-list {
        display: flex;
        flex-direction: column;
        gap: .5vw;
    }

    &__nav-link {
        color: #000;
    }
}