.pagination {
    display: flex;
    justify-content: center;
    gap: 1vw;
    margin-top: 5vw;

    @media (max-width: 1000px) {
        gap: 3vw;
    }

    &--hidden {
        position: absolute;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        white-space: nowrap;
        width: 1px;
    }

    &__button {
        width: 2vw;
        height: 2vw;
        cursor: pointer;
        border: none;
        font-size: 1.5vw;

        @media (max-width: 1000px) {
            width: 6vw;
            height: 6vw;
            font-size: 4vw;
        }
    }

    &__button--active {
        background-color: #000;
        color: #fff;
    }
}
