.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vw 3vw 0;

    @media (max-width: 1000px) {
        justify-content:center
    }

    &--main {
        padding: 0;

        &>.page-header__logo {
            display: none;
        }

        @media (max-width: 1000px) {
            height: 22vw;
            background-color: #fff;

            &>.page-header__logo {
                display: block;
            }
        }
    }

    &__logo-img {
        width: 15vw;

        @media (max-width: 1000px) {
            width: 30vw;
        }
    }

    &__list {
        display: flex;
        justify-content: end;
        gap: 40px;
        width: 100%;
        text-transform: uppercase;

        @media (max-width: 1000px) {
            display: none;
        }
    }

    &__link {
        color: #000;

        &--main {
            color: #fff;
        }
    }

    &__content{
        position: absolute;
        display: none;
        right: 3vw;

        @media (max-width: 1000px) {
            display: flex;
            gap: 4vw;
            align-items: center;
            margin-top: 2vw;
        }
    }

    &__phone-icon{
        width: 7vw;
    }
}