.product-card {
    color: #000;
    cursor: pointer;

    &__img {
        margin-bottom: 1vw;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: .5vw;
    }

    &__title {
        font-weight: 600;
        font-size: 1vw;

        @media (max-width: 1000px) {
            font-size: 3vw;
        }
    }

    &__price {
        font-size: 1vw;

        @media (max-width: 1000px) {
            font-size: 3vw;
        }
    }
}