.slider {
    display: none;
    position: relative;

    @media (max-width: 1000px) {
        display: block;
    }

    &__prev-button, 
    &__next-button {
        position: absolute;
        width: 7vw;
        height: 12vw;
        top: calc(50% - 6vw);
        border: none;
        background-image: url('./img/slider-arrow.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-color: rgba(255, 255, 255, .5);
        cursor: pointer;
    }

    &__prev-button {
        left: 0;
    }

    &__next-button {
        right: 0;
        transform: rotate(180deg);
    }
}