.up-button{
    position: fixed;
    right: 1vw;
    bottom: 5vw;
    width: 3vw;
    height: 3vw;
    padding: 1vw 0;
    background-color: rgba(255, 255, 255, .4);
    background-image: url('./img/arrow-up.svg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    opacity: .3;
    border: none;
    transition: all 300ms;
    cursor: pointer;

    &:hover{
        opacity: 1;
    }

    &--hidden{
        display: none;
    }
}