.up-button{
    position: fixed;
    left: 3vw;
    bottom: 5vw;
    width: 3.5vw;
    height: 3.5vw;
    padding: 1vw 0;
    background-color: rgba(0, 0, 0, .8);
    background-image: url('./img/arrow-up.svg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    opacity: .4;
    border: none;
    transition: all 300ms;
    cursor: pointer;

    &:hover{
        opacity: 1;
    }

    &--hidden{
        display: none;
    }
}