@charset "UTF-8";
/* montserrat-200 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  src: url("../styles/fonts/montserrat-v29-cyrillic_latin-200.woff2") format("woff2");
}
/* montserrat-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../styles/fonts/montserrat-v29-cyrillic_latin-regular.woff2") format("woff2");
}
/* montserrat-600 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../styles/fonts/montserrat-v29-cyrillic_latin-600.woff2") format("woff2");
}
/* gimetta-marriage-regular - latin */
@font-face {
  font-display: swap;
  font-family: "gimetta-marriage";
  font-style: normal;
  font-weight: 400;
  src: url("../styles/fonts/gimetta-marriage.otf") format("opentype");
}
/* bodega-script-regular - latin */
@font-face {
  font-display: swap;
  font-family: "bodega-script";
  font-style: normal;
  font-weight: 400;
  src: url("../styles/fonts/BodegaScript.woff2") format("woff2");
}
* {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1.2vw;
}

.body--scroll-off {
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

.header-wrapper {
  height: 100vh;
  color: #fff;
  background-color: #35393c;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  padding: 2vw 3vw;
  animation: bg-сhange 15s infinite;
}
@media (max-width: 1000px) {
  .header-wrapper {
    padding: 0;
    height: auto;
  }
}

@keyframes bg-сhange {
  from {
    background-image: url("./img/promo/promo-img1.jpg");
  }
  30% {
    background-image: url("./img/promo/promo-img1.jpg");
  }
  33% {
    background-image: url("./img/promo/promo-img2.jpg");
  }
  63% {
    background-image: url("./img/promo/promo-img2.jpg");
  }
  66% {
    background-image: url("./img/promo/promo-img3.jpg");
  }
  96% {
    background-image: url("./img/promo/promo-img3.jpg");
  }
  to {
    background-image: url("./img/promo/promo-img1.jpg");
  }
}
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vw 3vw 0;
}
@media (max-width: 1000px) {
  .page-header {
    justify-content: center;
  }
}
.page-header--main {
  padding: 0;
}
.page-header--main > .page-header__logo {
  display: none;
}
@media (max-width: 1000px) {
  .page-header--main {
    height: 22vw;
    background-color: #fff;
  }
  .page-header--main > .page-header__logo {
    display: block;
  }
}
.page-header__logo-img {
  width: 15vw;
}
@media (max-width: 1000px) {
  .page-header__logo-img {
    width: 30vw;
  }
}
.page-header__list {
  display: flex;
  justify-content: end;
  gap: 40px;
  width: 100%;
  text-transform: uppercase;
}
@media (max-width: 1000px) {
  .page-header__list {
    display: none;
  }
}
.page-header__link {
  color: #000;
}
.page-header__link--main {
  color: #fff;
}
.page-header__content {
  position: absolute;
  display: none;
  right: 3vw;
}
@media (max-width: 1000px) {
  .page-header__content {
    display: flex;
    gap: 4vw;
    align-items: center;
    margin-top: 2vw;
  }
}
.page-header__phone-icon {
  width: 7vw;
}

.main-nav {
  position: sticky;
  align-self: flex-start;
  min-width: 11vw;
  padding-top: 3vw;
  padding-left: 1.5vw;
  top: 0;
  font-weight: 200;
}
@media (max-width: 1000px) {
  .main-nav--hidden {
    display: none;
  }
}
.main-nav--promo {
  position: relative;
  padding-top: 30vh;
  padding-left: 0;
}
@media (max-width: 1000px) {
  .main-nav--promo {
    position: fixed;
    padding: 0;
  }
}
@media (min-width: 1281px) {
  .main-nav--promo {
    padding-top: 13vw;
  }
}
.main-nav__list {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
@media (max-width: 1000px) {
  .main-nav__list {
    gap: 3vw;
    margin-top: 10vw;
    margin-left: 10vw;
  }
}
.main-nav__item {
  position: relative;
  display: flex;
}
.main-nav__item:first-child {
  text-transform: uppercase;
}
.main-nav__img {
  display: none;
  position: absolute;
  top: 2%;
  left: -1.5vw;
  width: 1vw;
  height: 2vh;
}
@media (min-width: 1800px) {
  .main-nav__img {
    top: 12%;
  }
}
.main-nav__link {
  color: #000;
}
.main-nav__link:hover {
  text-decoration: underline;
}
.main-nav__link:hover ~ .main-nav__img {
  display: block;
}
.main-nav__link--bold {
  font-weight: 600;
}
.main-nav__link--promo {
  color: #fff;
}
@media (max-width: 1000px) {
  .main-nav__link--promo {
    color: #000;
  }
}
.main-nav__link--mobile {
  display: none;
  margin-top: 5vw;
  font-weight: 600;
}
@media (max-width: 1000px) {
  .main-nav__link--mobile {
    display: block;
  }
}
@media (max-width: 1000px) {
  .main-nav {
    position: fixed;
    padding: 0 0 5vw;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    font-size: 4vw;
    background-color: #fff;
    overflow: scroll;
    z-index: 1;
  }
  .main-nav__link {
    text-decoration: underline;
  }
  .main-nav__link:hover ~ .main-nav__img {
    display: none;
  }
}

.promo {
  position: relative;
  padding: 0 7%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (max-width: 1000px) {
  .promo {
    margin-top: 22vw;
    height: 30vw;
  }
}
.promo__logo {
  position: absolute;
  top: -21vh;
  left: 39vw;
  width: 15vw;
  height: 100vh;
  transform: rotate(22.5deg);
}
@media (max-width: 1000px) {
  .promo__logo {
    top: -50vh;
    left: 42vw;
  }
}
.promo__main-logo {
  position: absolute;
  display: inline-block;
  top: 42vh;
  left: 33.7vw;
  width: 25vw;
}
@media (max-width: 1000px) {
  .promo__main-logo {
    display: none;
  }
}
.promo__text {
  position: absolute;
  display: inline-block;
  top: 58vh;
  left: 24vw;
  width: 47vw;
  height: 100vh;
  font-size: 5vw;
  font-family: "bodega-script";
}
@media (max-width: 1000px) {
  .promo__text {
    top: 10vw;
    left: 25vw;
  }
}

.page-main {
  flex-grow: 1;
  position: relative;
  margin: 0;
  padding: 4vw 3vw 6vw;
}

.products {
  position: relative;
  display: flex;
  gap: 7vw;
}
.products__main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 3vw;
  overflow: hidden;
}
@media (max-width: 1000px) {
  .products__main {
    grid-template-columns: repeat(2, 1fr);
  }
}
.products__catalog {
  display: flex;
  flex-direction: column;
  padding-top: 3vw;
}
.products__product-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fill, minmax(1fr, 1fr));
  gap: 3vw;
  padding-top: 4vw;
}
@media (max-width: 1000px) {
  .products__product-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

.product-card {
  color: #000;
  cursor: pointer;
}
.product-card__img {
  margin-bottom: 1vw;
}
.product-card__text {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}
.product-card__title {
  font-weight: 600;
  font-size: 1vw;
}
@media (max-width: 1000px) {
  .product-card__title {
    font-size: 3vw;
  }
}
.product-card__price {
  font-size: 1vw;
}
@media (max-width: 1000px) {
  .product-card__price {
    font-size: 3vw;
  }
}

.breadcrumbs {
  position: relative;
}
.breadcrumbs__list {
  display: flex;
}
@media (max-width: 1000px) {
  .breadcrumbs__item {
    font-size: 3vw;
  }
}
.breadcrumbs__item:first-child > .breadcrumbs__link {
  text-transform: uppercase;
  font-weight: bold;
}
.breadcrumbs__item:not(:last-child) {
  margin-right: 0.5vw;
}
.breadcrumbs__item:not(:last-child)::after {
  content: "/";
}
.breadcrumbs__link {
  color: #000;
  text-decoration: none;
}
.breadcrumbs__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 3vw;
  z-index: 6;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .breadcrumbs__close {
    width: 5vw;
  }
}

.page-footer {
  position: relative;
  margin: 0;
  padding: 0 3vw 3vw;
  flex-shrink: 0;
}
.page-footer__logo {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 1vh;
}
.page-footer__logo-item {
  width: 13vw;
}
@media (max-width: 1000px) {
  .page-footer__logo-item {
    width: 20vw;
  }
}
.page-footer__text {
  text-transform: uppercase;
}
@media (max-width: 1000px) {
  .page-footer__text {
    font-size: 2vw;
  }
}
.page-footer__nav {
  position: absolute;
  top: 1vh;
  right: 3vw;
}
@media (max-width: 1000px) {
  .page-footer__nav {
    display: none;
  }
}
.page-footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}
.page-footer__nav-link {
  color: #000;
}

.contacts {
  position: relative;
  display: flex;
  gap: 7vw;
}
.contacts__content {
  display: flex;
  justify-content: space-between;
  gap: 5vw;
  width: 100%;
  padding-top: 3vw;
}
@media (max-width: 1000px) {
  .contacts__content {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.contacts__content a {
  color: #000;
  text-decoration: underline;
}
.contacts__left {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1000px) {
  .contacts__left {
    flex-direction: row;
    justify-content: space-between;
    gap: 8vw;
  }
}
@media (max-width: 550px) {
  .contacts__left {
    flex-direction: column;
    gap: 6vw;
  }
}
.contacts__left div {
  display: flex;
  flex-direction: column;
  min-width: 30vw;
  gap: 1.5vw;
}
@media (max-width: 1000px) {
  .contacts__left div {
    gap: 3vw;
    font-size: 2.5vw;
  }
}
@media (max-width: 550px) {
  .contacts__left div {
    font-size: 4vw;
  }
}
.contacts__title {
  margin-bottom: 1vw;
}
.contacts__vk {
  margin-bottom: 2vw;
}
.contacts__work-time {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}
.contacts__img {
  margin-right: 3vw;
  width: 27vw;
}
@media (max-width: 1000px) {
  .contacts__img {
    margin: 0;
    width: 50vw;
  }
}
@media (max-width: 550px) {
  .contacts__img {
    width: 60vw;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 1vw;
  margin-top: 5vw;
}
@media (max-width: 1000px) {
  .pagination {
    gap: 3vw;
  }
}
.pagination--hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
}
.pagination__button {
  width: 2vw;
  height: 2vw;
  cursor: pointer;
  border: none;
  font-size: 1.5vw;
}
@media (max-width: 1000px) {
  .pagination__button {
    width: 6vw;
    height: 6vw;
    font-size: 4vw;
  }
}
.pagination__button--active {
  background-color: #000;
  color: #fff;
}

.burger {
  position: relative;
  width: 8vw;
  height: 4.5vw;
  cursor: pointer;
  z-index: 2;
}
.burger__btn {
  position: absolute;
  top: 2vw;
  left: 0;
  width: 100%;
  height: 0.5vw;
  font-size: 0;
  background-color: #000;
  border: none;
  transform: rotate(0);
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 2;
}
.burger__btn::after {
  content: "";
  position: absolute;
  top: 1.7vw;
  left: 0;
  width: 100%;
  height: 0.5vw;
  background-color: #000;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.burger__btn::before {
  content: "";
  position: absolute;
  bottom: 1.7vw;
  left: 0;
  width: 100%;
  height: 0.5vw;
  background-color: #000;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
@media (max-width: 1000px) {
  .burger__btn {
    display: block;
  }
}
.burger__btn--close {
  transform: rotate(45deg);
}
.burger__btn--close::after {
  top: 0;
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.burger__btn--close::before {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.product-description {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
}
.product-description__inner {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 25vw;
  grid-template-rows: repeat(1, 4vw) repeat(1, 1fr);
  grid-column-gap: 3vw;
  grid-row-gap: 1vw;
  top: calc(50% - 40vh);
  left: calc(50% - 40vw);
  padding: 2vw;
  height: 80vh;
  width: 80vw;
  overflow: scroll;
  background-color: #fff;
  z-index: 6;
}
@media (max-width: 1000px) {
  .product-description__inner {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 5vw;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
  }
}
.product-description .breadcrumbs {
  grid-area: 1/1/2/3;
  padding-top: 1vw;
}
@media (max-width: 1000px) {
  .product-description .breadcrumbs {
    grid-area: auto;
  }
}
.product-description__left {
  display: grid;
  grid-area: 2/1/3/2;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fill, minmax(1fr, 31vw));
  gap: 1vw;
}
@media (max-width: 1000px) {
  .product-description__left {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, minmax(1fr, 1fr));
    grid-area: auto;
  }
}
.product-description__right {
  grid-area: 2/2/3/3;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
@media (max-width: 1000px) {
  .product-description__right {
    grid-area: auto;
    font-size: 4vw;
    gap: 5vw;
  }
}
@media (max-width: 1000px) {
  .product-description__title {
    font-size: 5vw;
  }
}
.product-description__text {
  margin-bottom: 2vw;
  font-size: 1vw;
}
@media (max-width: 1000px) {
  .product-description__text {
    font-size: 3vw;
  }
}
@media (max-width: 1000px) {
  .product-description__char {
    font-size: 3vw;
  }
}
.product-description__price {
  font-size: 2.5vw;
  font-weight: 600;
}
@media (max-width: 1000px) {
  .product-description__price {
    font-size: 6vw;
  }
}
.product-description__tel-link {
  color: #000;
  text-decoration: underline;
}
.product-description__details {
  font-size: 1vw;
}
.product-description__details h3 {
  margin-bottom: 1.5vw;
}
.product-description__details p {
  margin-bottom: 0.5vw;
}
.product-description__details ul {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  margin-bottom: 1.5vw;
}
.product-description__details ul li {
  position: relative;
  margin-left: 1vw;
}
.product-description__details ul li::before {
  content: "*";
  position: absolute;
  left: -1vw;
  top: 0.2vw;
}
@media (max-width: 1000px) {
  .product-description__details {
    font-size: 3vw;
  }
  .product-description__details p {
    margin-bottom: 1.5vw;
  }
  .product-description__details ul {
    gap: 2vw;
  }
  .product-description__details ul li {
    margin-left: 1.5vw;
  }
  .product-description__details ul li::before {
    left: -1.5vw;
  }
}
.product-description__summary {
  margin-bottom: 2vw;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .product-description__summary {
    margin-bottom: 3vw;
    font-size: 3vw;
  }
}/*# sourceMappingURL=style.css.map */